* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  overflow-x: hidden;
}
body {
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1.5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
 
.hero {
  height: 50vh;
  width: 100vw;
  background: #022B3A;
  color: #f9f9f9;
  text-align: center;
  padding: 0px 0px;
}

.hero h1 {
  margin: auto;
  width: 700px;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 1000;
  padding-top: 25px;
  font-family: 'Bebas Neue', sans-serif;
}

.hero p {
  margin: auto;
  font-size: 1.4rem;
  width: 500px;
  margin-bottom: 20px;
  width: 600px;
  font-family: 'Roboto', sans-serif;
}

.hero #subtitulo {
  background-color: #5FBB97;

  width: 100vw;
  height: 50px;
  align-items: center;
  padding-top: 15px;
  font-style: oblique;
  margin: 0;
  font-size: 1.1rem;
  color: #f9f9f9;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.btn {
  background: #f9f9f9;
  color: #022B3A;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

li{
    list-style: none;
    
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.card:hover{
    background-color: #022B3A;
    color: #f9f9f9;
    transition: 0.7s;
}
.photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px 15px 25px 15px;
  margin: 20px auto; 
  background-color: #022b3a;
  color: #f9f9f9;
  border-radius: 25px;
  width: 100%;
  flex-wrap: wrap;
}

.photo p {
  max-width: 600px;
  text-align: left;
}

#myphoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  border: #f9f9f9 2px solid;
}

.portfolio {
  background-color: #022B3A;
  padding: 60px 20px;
  text-align: center;
  color: #fff;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.portfolio-card {
  width: 60%;
  margin: auto;
  background: #f9f9f9;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
  color:#022B3A;
}

.portfolio-card:hover {
  transform: translateY(-8px);
}

.portfolio-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.portfolio-card h3 {
  margin: 15px 0 5px;
}

.portfolio-card p {
  font-size: 14px;
  padding: 0 15px;
}

.portfolio-card a {
  display: inline-block;
  margin: 15px 0 20px;
  padding: 10px 20px;
  background: #022B3A;
  color: #f9f9f9;
  border-radius: 30px;
  text-decoration: none;
}

.cta {
  background: #022B3A;
  color: #f9f9f9;
  text-align: center;
  padding: 60px 20px;
}

.cta h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 60px;
  background-color: #5FBB97;
}

.insta {
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  color: #022b3a;
  transition: transform 0.3s, color 0.3s;
}

.insta:hover {
  color: #e1306c;
  transform: scale(1.2);
}

@media (max-width: 768px) {

  .hero {
    height: 100vh;
    
  }

  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .hero p {
    font-size: 1rem;
    margin-bottom: 50px;
  }

  .photo {
    flex-direction: column;
    padding: 15px 15px 25px 15px;
    height: 100vh;
  }


  .portfolio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  } 
  .portfolio-card {
    width: 250px;
  }

  .footer {
    flex-direction: column;
    gap: 40px;
  }

}