* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

.hero {
  background: #022B3A;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.btn {
  background: #fff;
  color: #022B3A;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}

.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

li{
    list-style: none;
    
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.card:hover{
    background-color: #022B3A;
    color: #fff;
    transition: 0.7s;
}

.cta {
  background: #022B3A;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}